@use 'src/styles/vars';

.contact {
  .contact__button--display {
    padding: vars.$mainPadding vars.$baseFontSize;
    border-radius: vars.$buttonBorderRadius;
    position: relative;
    top: -3em;
    font-size: vars.$smallFontSize;
    border: none;
    background: vars.$lighColorSecdondary;
  }

  height: 2em;
}
