@use 'src/styles/vars';

.carrousel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 10px;
}

.slider__image {
  max-width: 100vw;
  height: 100vw;
  border-radius: 20px;
  object-fit: cover;
}

.right-arrow {
  position: absolute;
  right: -40vw;
  font-size: 3rem;
  color: vars.$cta_color_2;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  left: -40vw;
  font-size: 3rem;
  color: vars.$cta_color_2;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  position: absolute;
  opacity: 0;
  transition-duration: 1s ease;
  scale: 0.92;
}

.slide.active {
  position: absolute;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.00);
}

@media only screen and (min-width: 600px) {
  .slide {
    top: -15vw;
  }

  .slider__image {
    max-width: 50vw;
    height: 50vw;
  }

  .right-arrow {
    right: -20vw;
    top: 10vw;
  }
  
  .left-arrow {
    left: -20vw;
    top: 10vw;
  }
}

@media only screen and (min-width: 768px) {
  .slide {
    top: -10vw;
  }

  .slider__image {
    max-width: 40vw;
    height: 40vw;
  }

  .right-arrow {
    right: -15vw;
    top: 10vw;
  }
  
  .left-arrow {
    left: -15vw;
    top: 10vw;
  }
}

@media only screen and (min-width: 1024px) {

  .slide {
    top: -12.5vw;
  }

  .slider__image {
    max-width: 30vw;
    height: 30vw;
  }

  .right-arrow {
    right:-12.5vw;
    top: 2vw;
  }
  
  .left-arrow {
    left: -12.5vw;
    top: 2vw;
  }
}

@media only screen and (min-width: 1280px) {

  .slide {
    top: -12.5vw;
  }

  .slider__image {
    width: 300px;
    height: 300px;
  }

  .right-arrow {
    right:-7.5vw;
    top: -2vw;
  }
  
  .left-arrow {
    left: -7.5vw;
    top: -2vw;
  }
}

@media only screen and (min-width: 1440px) {

  .slide {
    top: -12.5vw;
  }

  .slider__image {
    width: 300px;
    height: 300px;
  }

  .right-arrow {
    right:-7.5vw;
    top: -2vw;
  }
  
  .left-arrow {
    left: -7.5vw;
    top: -2vw;
  }
}

@media only screen and (min-width: 1920px) {

  .slide {
    top: -12.5vw;
  }

  .slider__image {
    width: 300px;
    height: 300px;
  }

  .right-arrow {
    right:-6vw;
    top: -5vw;
  }
  
  .left-arrow {
    left: -6vw;
    top: -5vw;
  }
}


@media only screen and (min-width: 2560px) {

  .slide {
    top: -12.5vw;
  }

  .slider__image {
    width: 300px;
    height: 300px;
  }

  .right-arrow {
    right:-4.5vw;
    top: -7vw;
  }
  
  .left-arrow {
    left: -4.5vw;
    top: -7vw;
  }
}
