@use 'src/styles/vars';

.random {
  display: flex;
  flex-direction: column;
  padding-top: 90px;

  &__info {
    text-align: center;
  }

  &__carrousel {
    order: 0;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .site__maintitle {
    display: none;
  }

  .site__identity {
    padding: 1em;
    text-align: center;
  }

  .site__identity--medium {
    display: none;
  }

}

@media only screen and (min-width: 600px) {
  .random {
    flex-direction: row;
    justify-content: space-evenly;
    background-color: vars.$back_color_2;
    display: flex;
    width: 90vw;
    padding-top: 90px;
    border-radius: 20px;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 1em;
      width: 30vw;
    }

    &__carrousel {
      order: 1;
      width: 50vw;
      height: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .site__identity {
      display: none;
    }

    .site__maintitle--medium {
      font-size: 1.6em;
      margin-bottom: 1em;
      font-weight: bold;
    }

    .site__identity--medium p {
      margin-bottom: 1.3em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .random {
    flex-direction: row;
    justify-content: space-evenly;
    background-color: vars.$back_color_2;
    display: flex;
    width: 90vw;
    padding-top: 90px;
    border-radius: 20px;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 30vw;
    }

    &__carrousel {
      order: 1;
      width: 30vw;
      height: 30vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }
}

@media only screen and (min-width: 1525px) {
  .random__info {
    margin-top: 5em;
  }

}
