@use 'src/styles/vars';

.random {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

  &__identity {
    text-align: center;
    padding: 1em;
  }

  &__title {
    font-family: 'Arima Madurai', 'Roboto';
    font-size: 2em;
    font-weight: 700;
    display: none;
  }

  &__welcome {
    font-family: 'Lato', 'Roboto';
    font-size: 1.2em;
  }

  &__carrousel {
    height: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__animal {
    text-align: center;
    padding: 1em;
  }

  &__name {
    font-family: 'Arima Madurai', cursive;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
  }

  &__description{
    font-family: 'Lato', 'Roboto';
    font-style: italic;
    font-size: 1.2em;
    padding: 0.5em;
    height: 15vw;
    overflow: hidden;
  }

  &__more {
    font-family: 'Lato', 'Roboto';
    font-size: 2em;
    font-weight: 700;
  }
}

@media screen and (min-width: 426px) {
  .random {
    width: 90vw;
    background-color: vars.$cta_color_1;

    &__carrousel {
      width: 80vw;
      height: 80vw;
    }

    &__title {
      display: block;
    }

    &__description{
      height: 12vw;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: 769px) {
  .random {
    width: 80vw;
    padding-bottom: 1.5em;
    flex-direction: row;
    flex-wrap: wrap;

    &__carrousel {
      order: 1;
      width: 35vw;
      height: 35vw;
    }

    &__animal {
      width: 40%;
    }

    &__description{
      height: 23vw;
      overflow: hidden;
      
    }
  }
}

@media screen and (min-width: 1025px) {
  .random {
    width: 60vw;
    padding-bottom: 1.5em;
    flex-direction: row;
    flex-wrap: wrap;

    &__carrousel {
      order: 1;
      width: 25vw;
      height: 25vw;
    }

    &__animal {
      width: 40%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__description{
      height: 50%;
    }

    &__more {
      display: none;
    }
  }
}
