@use 'src/styles/vars';

.random {
  display: flex;
  flex-direction: column;
  padding-top: 90px;

  &__info {
    text-align: center;
    padding: 1em;
  }

  &__carrousel {
    order: -1;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
