@use 'src/styles/vars';

.box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  background-color: vars.$back_color_1 ;
  padding: 5em;
  border-radius: 5px;
  justify-content: center;
}

.box {
   width: 30%;
   padding:1em;
    margin-left: 1em;
    color:white;
    margin-top: 1em;

    &__name {

     margin-top: 1em;
     

    }
  
    &__text{
         margin-top: 10px;
    
    }
  
  }
  




 @media screen and (max-width:500px) {

  .box-presentation{

    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
}



  .firstbox {
    width: 50%;
    padding:1em;
    background-color: vars.$back_color_1 ;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
 
     &__title {
 
       font-size: 2em;
       width: 100%;

 
     }
   
     &__subtitle{
          
     font-size: 1.5em;
     margin-right: 12.2em;
     margin-bottom: 1em;
     margin-top: 0.5em;
     text-align: center;
     width: 100%;
     }
   
   }






  .carrousel {
    width: 100%;
    order:-1;
  }




 }
