@use 'src/styles/vars';

.box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  background-color: vars.$back_color_1 ;
  padding: 5em;
  border-radius: 5px;
  justify-content: center;
}

.box {
   width: 30%;
   padding:1em;
    margin-left: 1em;
    color:white;
    margin-top: 1em;

    &__name {

     margin-top: 1em;
     

    }
  
    &__text{
         margin-top: 10px;
    
    }
  
  }
  




 @media screen and (max-width:500px) {

  .box-container{

    display: flex;
    justify-content: left;
    background-color: vars.$back_color_1;
    width: 100%;
    padding: 1em;
}



  .box {
    width: 100%;
    
    background-color: vars.$back_color_1 ;
    padding: 1em;
    display: flex;
    height:100px;  


      &__info{
        background-color: red;
        width: 50%;
        height: 100px;

      }

      &__picture{

        display: flex;        
      }
   
 
     &__title {
 
        
     

 
     }
   
     &__text{
      background-color: green;
        width:100%;
       height: 100px;
     }
   
   }


 }
