@use 'src/styles/vars';

.association__infos {
  position: relative;
  top: -1em;
  border: 1px solid vars.$lightColorPrimary;
  margin: 0 vars.$mediumPadding;
  border-radius: vars.$buttonBorderRadius;
  padding: vars.$mainPadding vars.$baseFontSize;
  text-align: left;
  margin-bottom: vars.$mainPadding;

  & p:not(:last-child) {
    margin-bottom: vars.$mainPadding / 2;
  }
}

// A partir de la largeur 700px et plus
@media (min-width: 700px) {
  .association__infos {
    width: vars.$test;
    margin: 0 auto;

    & p:not(:last-child) {
      margin-bottom: vars.$mainPadding / 2;
    }
  }
}
