@use 'src/styles/vars';

@media screen and (max-width: 500px) {
  .association__infos {
    position: relative;
    top: -1em;
    border: 1px solid vars.$lightColorPrimary;
    margin: 0 vars.$mediumPadding;
    border-radius: vars.$buttonBorderRadius;
    padding: vars.$mainPadding vars.$baseFontSize;
    text-align: left;
    margin-bottom: vars.$mainPadding;

    & p:not(:last-child) {
      margin-bottom: vars.$mainPadding / 2;
    }
  }
}
