@use 'src/styles/vars';

.association__infos {
  position: relative;
  top: -1em;
  border: 1px solid vars.$back_color_2;
  width: 90%;
  border-radius: vars.$buttonBorderRadius;
  padding: vars.$mainPadding vars.$baseFontSize;
  text-align: center;
  margin-bottom: vars.$mainPadding;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;



  & p {
    font-size: vars.$smallFontSize;
    font-family: 'Lato', 'Roboto';
  }

  & p:not(:last-child) {
    margin-bottom: calc(vars.$mainPadding / 2);
  }
}

// A partir de la largeur 700px et plus
@media (min-width: 700px) {
  .association__infos {
    width: 90%;

  }
}

@media (min-width: 1024px) {
  .association__infos {
    width: 43em;
  }
}
