$smallFontSize: 1.1em;
$baseFontSize: 1.3em;
$mediumFontSize: 2em;
$bigFontSize: 3em;

$smallPadding: .5em;
$mainPadding: 1em;
$mediumPadding: 2.5em;
$bigPadding: 4.5em;

$mainBorderRadius: 20px;
$buttonBorderRadius: 10px;

$textAlignLeft: left;

$textSpacing:1px;

$mainColorPrimary: #735F6E;
$lightColorPrimary:#8C7488;
$darkColorPrimary: #594A55;
$contrastTextPrimary: #f3f2f2;

$mainColorSecondary: #D97C0B;
$lighColorSecdondary : #F2B33D;
$darkColorSecondary:#BF6D0A;
