$smallFontSize: 1.1em;
$baseFontSize: 1.3em;
$mediumFontSize: 1.9em;
$bigFontSize: 3em;

$superSmallPadding: .3em;
$smallPadding: .7em;
$mainPadding: 1em;
$mediumPadding: 2.5em;
$bigPadding: 4.5em;

$mainBorderRadius: 20px;
$buttonBorderRadius: 10px;

$textAlignLeft: left;

$textSpacing:1px;

$back_color_1 : #735F6E;
$back_color_2 : #8C7488;
$medium_color : #F2F0F2;
$cta_color_1 : #F2B33D;
$cta_color_2 : #D97C0B;


$smallBreakPoint: 700px;


$test:45em;
