@use 'src/styles/vars';

.app {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
  align-items: center;
>>>>>>> a22928b212afb1d40847dec12948e470cf1b4aff
  height: 100vh;
}

h1 {
  margin-top: 3em;
  font-size: 2em;
  background-color: vars.$back_color_1;
  color: white;
  width: 800px;
  padding: 1em;
}


.footer {
<<<<<<< HEAD
  margin-top: auto;
  width: 100%;
=======
  text-align: center;
  margin-top: auto;
  width: 100vw;
>>>>>>> a22928b212afb1d40847dec12948e470cf1b4aff
  background-color: vars.$cta_color_2;
  color: white;
  align-self: flex-end;
}


@media screen and (max-width:500px) {
  h1 {
    display: none;
  }

}
