.advices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-top: 90px;
  text-align: center;

  &__title {
    width: 90vw;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    width: 90vw;
    font-style: italic;
    margin-bottom: 0.5em;
    text-align: center;
  }

  &__text {
    width: 90vw;
    margin-bottom: 0.5em;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100vw;
  justify-items: center;
}
.one {
  display: none;
}
.two {
  grid-column: 1 / 4;
  grid-row: 2;
}
.three {
  grid-column: 1 / 4;
  grid-row: 1;
}
.four {
  grid-column: 1 / 4;
  grid-row: 3;
}
.five {
  grid-column: 1 / 4;
  grid-row: 4;
}

.small-pic img{
  width: 100vw;
}

.imgAdvices{
  max-width:100px;
  max-height:100px;
  display:block;
  border-radius: 20px;
}

