.advices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-top: 90px;
  text-align: center;

  &__title {
    width: 90vw;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    width: 90vw;
    font-style: italic;
    margin-bottom: 0.5em;
    text-align: center;
  }

  &__text {
    width: 90vw;
    margin-bottom: 0.5em;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.one {
  display: none;
}

.three {
  order: -3;
}

.small-pic img{
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  border-radius: 20px;
}

@media only screen and (min-width: 425px) {
  .one {
    display: block;
  }

  .three {
    order: 0;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    align-self: flex-start;
  }

  .four {
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    align-self: flex-end;
  }

  .big-pic img{
    width: 95vw;
    height: 50vw;
    object-fit: cover;
    border-radius: 20px;
  }

  .small-pic img{
    width: 45vw;
    height: 45vw;
    object-fit: cover;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 1024px) {

  .one {
    align-self: flex-start;
  }

  .two h3, .two p{
    width: 30vw;
  }

  .three {
    order: 0;
    margin-right: 2.5vw;
    margin-left: 5vw;
    align-self: flex-start;
  }

  .four {
    margin-right: 5vw;
    margin-left: 2.5vw;
    align-self: flex-end;
  }

  .big-pic img{
    width: 57vw;
    height: 57vw;
    margin-right: 2em;
    object-fit: cover;
    border-radius: 20px;
  }

  .small-pic img{
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    border-radius: 20px;
  }

}

