.animal {

  &__profil {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__void {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 5vw;
    margin-left: 5vw;
  }
}
