@use 'src/styles/vars';


.containerNav{

display: flex;
justify-content: space-evenly;
align-items: center;
padding: 1em;
background-color: vars.$back_color_1 ;
width:100vw;

}

.alignement {

display:flex;
color: white;

}


li{

padding-right: 10px;
height: 100%;

  
}

.Navbar-Menu{

list-style: none;


display: flex;

justify-content: center;

align-items: center;

position: relative;

margin: 0;
padding: 0;
height: 100%;


}

.items{
  margin-right: 10px;
  color:white;
  cursor: pointer;
}

.btn {

    display: none;
}

#title{

  display: none;

}


.logobouledepoils {

width: 50%;

}


li:hover{

color:vars.$cta_color_1 ;


}




@media screen and (max-width:500px) {

  .firstbox{

    width: 100%;
    margin-left: 5px;

  }




  .containerNav{

  display:flex;
  flex-wrap: wrap;
  width: 50vh;



}

.logobouledepoils {
  width: 50%;
  float: left;
  

}






  .alignement{

    display: flex;

    align-items:center ;



  }



  #title{

    display: inline-block;
  
  }  

  .Navbar-Menu{
    flex-direction:column;
    height:210px;
    
    
  }

  .items:nth-child(1){
    border-top:1px solid white;
    margin-top: 50px;
  }

  .items{
    
    width: 250px;
    border-bottom: 1px solid white;
    line-height: 25px;
  }

  .btn{
    display: block;
    position: absolute;
    right: 5px;
    color: black;
    cursor: pointer;

  }


  .alignementlogin{

    margin-right: 10px;

  }


  



}
