@use 'src/styles/vars';

.footer {
  width: 100vw;
  height: 50px;
  background-color: vars.$cta_color_2;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 1em;
  margin-bottom: 0px;
  text-align: center;

    &__link:hover {
      color: white;
    }
}
