@use 'src/styles/vars';

.footer {
  width: 100vw;
  height: 50px;
  background-color: vars.$cta_color_2;
  margin-top: 1em;
  margin-bottom: 0px;
  text-align: center;
  justify-self: flex-end;
  align-self: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

    &__link:hover {
      color: white;
    }
}
