.assoInfo {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 1vw;
    }

    &__card {
      padding: 0.5vw;
      width: 30%;
      margin-bottom: 1em;

      h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
      }

      p {
        margin-bottom: 0.5em;
      }

      li {
        margin-bottom: 0.25em;
      }
    }
}

.leaflet-container {
  height: 50vh;
  width: 80vw;
  border-radius: 20px;
  left: 10%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

@media screen and (max-width: 768px) {
  .assoInfo {
    
  
      &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 1vw;
      }
  
      &__card {
        padding: 0.5vw;
        width: 45%;
        margin-bottom: 1em;
      }
  }
}

@media screen and (max-width: 640px) {

  .leaflet-container {
    height: 50vh;
    width: 100vw;
    border-radius: 0;
    left: 0;
  }

  .assoInfo {
    padding-top: 0;
  
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 1vw;
    }

    &__card {
      padding: 0.5vw;
      width: 100%;
      margin-bottom: 1em;
    }
  }  .assoInfo {
    
  
      &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 1vw;
      }
  
      &__card {
        padding: 0.5vw;
        width: 100%;
        margin-bottom: 1em;
      }
  }
}

